*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #22046b, #e14e42);
    color: #fff;
    position: relative;

}
.navbar{
    width: 90%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;

}
.logo{
    width: 90px;
    cursor: pointer;
    border-radius: 50%;
     
}
.menu-icon{
    width: 30px;
    cursor:pointer ;
    margin: 80px;

}
nav{
    flex: 1;
    text-align: right;

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;

}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 5px 2px;

}
nav ul li a:hover{
   color: #e7c82f;

}
.row{
    width: 80%;
    min-height: 85vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

.text-box{
    max-width: 400px;
    margin-top: 100px;

}

.text-box h1{
    font-size: 50px;
    font-family: sans-serif;

}
H1{
    color: #e7c82f;
}
h2{
    color: aqua;
    font-family: monospace;
    
}
h3{
    color: aqua;
    font-family: monospace;
}
h4{
    color: aqua;
    font-family: monospace;
}
h6{
    color: aqua;
    font-family: monospace;
    font-size: large;
}

.guns img{
    border: 5px solid #e7c82f;
    vertical-align: middle;
    width: 255px;
    height: 200px;
    
}


.gallery-box img{
    border: 5px solid #e7c82f ;
    vertical-align: middle;
    width: 255px;
    height: 200px;
    

}
.gallery-box ul{
    position: absolute;
    right: -100px;
    top: 50px;
    transform: translateY(-50%);

}
.gallery-box ul li{
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    padding: 0 30px;
    cursor: pointer;
    position: relative;

}

.gallery-box .active{
    color: #e7c82f;
}
.gallery-box ul li::after{
    content: '';
    width: 30px;
    height: 2px;
    background: transparent;
    position: absolute;
    top: 8px;
    left: -5px;
}
gallery-box .active::after{
    background: #e7c82f ;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }